/* Product Card */

.product-card {
    background-color: var(--white);
    width: 24%;
    height: 24vw;
    border-radius: var(--br-big);
    box-shadow: 0.5em 0.5em 0.5em rgba(54, 46, 91, 0.5);
}

/* Product Image Section*/

.product-img {
    background-color: var(--light-blue);
    width: 100%;
    height: 65%;
    border-top-left-radius: var(--br-big);
    border-top-right-radius: var(--br-big);
}

/* Product Description Section*/

.product-desc-section {
    width: 100%;
    height: 35%;
    padding: 1.2em 2em;
}

.product-name {
    font-size: 2em;
    font-weight: bold;
    color: var(--dark-blue)
}

.product-price {
    font-size: 1.4em;
    color: var(--medium-blue)
}