/* import fonts */
@font-face {
  font-family: dela-gothic-one;
  src: url(../assets/fonts/dela-gothic-one.ttf);
}

@font-face {
  font-family: helvetica-neue;
  src: url(../assets/fonts/helvetica-neue.ttf);
}

@font-face {
  font-family: helvetica-neue;
  src: url(../assets/fonts/helvetica-neue-bold.ttf);
  font-weight: bold;
}


:root {
  /* colors */
  --dark-blue: #211C42;
  --medium-blue: #454887;
  --light-blue: #646BFF;
  --gray: #797979;
  --light-gray: #e2e2e2;
  --white: #F9F9FF;
  --black: #000000;
  --red: #dc3545;
  --green: #28a745;
  --gradient-background: linear-gradient(to right, #EAEAF5, #646BFF);

  /* typography */
  --dela-gothic-one: dela-gothic-one, Helvetica, sans-serif;
  --helvetica-neue: helvetica-neue, Helvetica, sans-serif;

  --fs-1: 4.8rem;
  --fs-2: 4rem;
  --fs-3: 3.4rem;
  --fs-4: 2.4rem;
  --fs-5: 2rem;
  --fs-6: 1.8rem; 
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  --fs-9: 1.3rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /* gradient color */
  --gradient: linear-gradient(to right, transparent 50%, var(--white-30) 100%);

  /* spacing padding */
  --section-padding: 35px;

  /* shadow */
  --shadow-1: 0 8px 16px var(--black-15);
  --shadow-2: 0 4px 10px var(--black-5);

  /* border radius */
  --br-xl: 1.8em;
  --br-big: 1.2em;
  --br-medium: 0.8em;
  --br-small: 0.6em;

  /* radius */
  --radius-3: 3px;

  /* transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;

  /* tranform */
  --transform-1: scale(1.05);
  
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* reset default css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

a {
  text-decoration: none;
  color: inherit;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

html {
  font-family: var(--helvetica-neue);
  font-size: 10px;
  color: var(--dark-blue);
  background-color: var(--white);
  scroll-behavior: smooth;
  width: 100vw;
  overflow: auto;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-weight: var(--fw-500);
  line-height: 1.6;
  width: 100vw;
  overflow-x: hidden;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

/* Button */

:active, :hover, :focus {
  outline: 0!important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}

.button {
  background-color: var(--light-gray);
  color: var(--white);
  width: 12vw;
  border-radius: var(--br-small);
  position: relative;
  display: inline-block;
  margin: 0em 0em 3em 0em;
}

.button span {         
  position: relative;
  display: inline-block;
  font-size: 1.2em;
  letter-spacing: 2px;
  top: 0; left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
  text-align: center;
  border-radius: var(--br-small);
}

.button::before {
  background-color: var(--dark-blue);
  border-radius: var(--br-small);
  transition: 0.3s ease-out;
}
.button span {
  color: var(--white);
  border: 2px solid var(--dark-blue);
  border-radius: var(--br-small);
  transition: 0.2s 0.1s;
}
.button span:hover {
  color: var(--dark-blue);
  transition: 0.2s 0.1s;
}

.button.hover-filled-slide-right::before {
  top:0; bottom: 0; right: 0;
  height: 100%; width: 100%;
}
.button.hover-filled-slide-right:hover::before {
  width: 0%;
}